@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap");

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #303030;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1rem;
}

.header {
  font-size: 64px;
}

/* button settings */
.button-wrapper {
  margin-top: 30px;
}

button {
  background: rgb(111, 118, 118);
  color: white;
  padding: 0.4em 1em;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background: rgb(74, 73, 72);
  transition-duration: 0.4s;
}

button:active {
  background: #00000078;
  transition-duration: 0.2s;
}

button:disabled {
  background: #545454;
}

.song-list-header {
  background-color: #535353;
  box-shadow: 0px 0px 8px 2px #535353;
  border-radius: 10px;
  margin-top: 5%;
  padding: 0.5%;
}

.song-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.song-item {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
}

.song-item > h2 {
  margin: 0;
  color: #ffffff;
}

.song-item > h3 {
  margin: 0;
  color: #b3afaf;
}

.song-item > p {
  color: #ffffff;
}

.song-img {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 5%;
}

.play-list {
  display: grid;
  align-self: auto;
}

.total-plays {
  font-size: 1.4rem;
}

.curr-song-container {
  font-size: 1.9rem;
  height: 20rem;
  width: 40rem;
  padding: 0.3%;
}

.preview {
  border-radius: 12px;
  height: 15rem;
  width: 30rem;
  border: none;
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 40px;
  }

  .curr-song-container {
    font-size: 1.4rem;
    height: 10rem;
    width: 30rem;
    padding: 0%;
  }

  .preview {
    border-radius: 12px;
    height: 7.5rem;
    width: 20rem;
    border: none;
  }
}
