@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Zilla Slab", serif;
  background-color: #303030;
}

.App {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1rem;
}

button {
  background: #00c9a7;
  color: white;
  padding: 0.4em 1em;
  border-radius: 10px;
  border: none;
  font-family: "Zilla Slab", serif;
  font-size: 1rem;
}

button:disabled {
  background: #aaaaaa;
}

.song-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.song-item {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
}

.song-item > h2 {
  margin: 0;
  color: #ffffff;
}

.song-item > h3 {
  margin: 0;
  color: #b3afaf;
}

.song-item > p {
  color: #ffffff;
}

.song-img {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 5%;
}

.song-current {
  box-shadow: 0px 0px 8px 2px #c3e6e0;
  border: none;
  width: 25%;
  margin: auto;
}

.play-list {
  display: grid;
  align-self: auto;
}
